.maraLayer{
  position:absolute;
  inset:0;
  z-index:0;
  pointer-events:none;
  overflow:visible;
}

.maraPainting{
  position:absolute;
  left:80px;
  top:0;

  width:100%;
  height:100%;

  object-fit:contain;
  opacity:.1;

  filter:
    blur(.4px)
    saturate(1.1)
    drop-shadow(0 0 30px rgba(255,255,255,.08));
}